/********** GLOBAL **********/
.study {
  background-color: #fff;
}

.contentblock {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
}

.contentblock .left {
  width: 25%;
  box-sizing: border-box;
  padding-right: 30px;
}

.contentblock .right {
  width: 75%;
  box-sizing: border-box;
}

.contentblock .left img {
  padding-top: 20px;
  width: 130px;
}

.contentblock .left a {
  font-size: 12px;
  color: #008297;
  letter-spacing: .5px;
  font-weight: 700;
}

.contentblock .swot-logos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contentblock .swot-logos img {
  width: 200px;
}

.study .hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.study .hero .hero-back {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
  background-color: rgba(0,0,0,.8);
  width: 100%;
  height: 55vh;
  position: relative;
}

.study .hero .hero-front {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.study .hero .hero-left {
  position: relative;
  z-index: 2;
  width:100%;
  max-width: 500px;
  color: #fff;
  padding: 100px 5%;
  overflow-y: hidden;
}

.study .hero .hero-right {
  z-index: 2;
  padding-right: 5%;
}

.study .hero h5 {
  font-weight: 300;
  padding-top: 30px;
}

.study .hero .hero-left img {
  width: 250px;
}

.study .hero .hero-right img {
  height: 75vh;
}

.study .hero .scrolldown {
  position: absolute;
  bottom: 2vh;
}

.contentblock .role {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  border-top: 1px solid #868686;
  border-bottom: 1px solid #868686;
  font-weight: 300;
}

.pip {
  width: 100%;
  box-sizing: border-box;
  padding: 100px 0;
  margin-top: 100px;
}

.solution .contentblock {
  box-sizing: border-box;
  background-color: rgba(255,255,255,.8);
  padding: 50px;
}

.solution .contentblock p {
  font-weight: 400;
}

section.features {
  color: #fff;
  box-sizing: border-box;
  padding: 50px 0;
}

div.features {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

div.features .feature, div.skillz .skill {
  width: 100%;
  max-width: 300px;
  padding: 0 5%;
  text-align: center;
}

.features h6 {
  padding: 10px 0 5px;
}

.features img {
  height: 70px;
}

section.greyback {
  padding-bottom: 100px;
}

.greyback {
  background-color: #ededed;
  width: 100%;
}

.picset {
  width: 100%;
  padding: 0;
  margin: 100px 0 0;
  display: flex;
  justify-content: flex-start;
  font-size: 0;
}

.three, .two {
  width: 100%;
}

.picset .three img {
  width: 33.3333%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: top;
}

.picset .two img {
  width: 50%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: top;
}

img.contentimg {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.lrg-img {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  font-size: 0;
}

img.lrg-img {
  width: 100%;
  margin: 100px auto 0;
}

.lrg-img-offset {
  text-align: center;
  margin: 50px auto 0;
  position: relative;
  top: 50px;
}

.lrg-img-offset img, .lrg-img img {
  max-width: 95%;
}

#projectnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 50px auto;
}

#projectnav a {
  color: #3d3d3d;
  padding: 10px;
  font-weight: 700;
}

#projectnav a:nth-child(2) {
  font-weight: 400;
}

#projectnav a:hover {
  color: #008297;
}


/****************** PAGES ********************/

/***** Aetlas *****/
#aetlas .hero {
  background: url(../assets/images/pages/aetlas/aetlas_hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 60px;
}

#aetlas .solution {
  background: url(../assets/images/pages/aetlas/solution.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#aetlas section.features {
  background: url(../assets/images/pages/aetlas/research_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 100px;
}

#aetlas .features img {
  height: 140px;
}

#aetlas .features p {
  padding-top: 10px;
  width: 220px;
  margin: 0 auto;
}

#aetlas #testing img.lrg-img {
  max-width: 1200px;
}

#aetlas section#personas {
  padding-bottom: 0;
}

#aetlas #personas img.nomobile {
  display: initial;
}

#aetlas #personas img.nodesk {
  display: none;
}

#aetlas section#branding {
  padding-bottom: 100px;
}

#aetlas section.features {
  background: url(../assets/images/pages/aetlas/branding_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 100px;
}

#aetlas section.features .branding {
  width: 800px;
  height: auto;
}

#aetlas .tasks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 100px auto 50px;
    max-width: 1400px;
}

#aetlas .tasks .screens {
    width:50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

#aetlas .tasks .screens p {
    padding-bottom: 10px;
}

  .tasks .screens img {
    width: 180px;
    margin: 0 5px;
}


/***** Prep *****/
#prep .hero {
  background: url(../assets/images/pages/prep/prep_hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 60px;
}

#prep .hero .hero-right {
  padding-right: 2%;
}

#prep .hero .hero-right img {
  height: auto;
  max-width: 50vw;
}

#prep section.features {
  max-width: 100%;
  background: url(../assets/images/pages/prep/productlayout.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}

#prep section.features .lrg-img {
  max-width: 1400px;
  height: auto;
  margin-top: 30px;
}

#prep section.features .lrg-img-offset {
  margin-top: 100px;
  top: 100px;
}

#prep #problem {
  margin-top: 100px;
}

#prep .solution {
  background: url(../assets/images/pages/prep/solution_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#prep .solution .contentblock {
  background-color: rgba(0,0,0,.75);
  color: #fff;
}

#prep #process .lrg-img {
  max-width: 100%;
  margin-top: 100px;
}

#prep #process .lrg-img img {
  padding: 0 100px;
  vertical-align: top;
}

#prep #process .lrg-img img:first-of-type {
  max-width: 500px;
}

#prep #process .lrg-img img:last-of-type {
  max-width: 350px;
}

#prep .features img {
  height: auto;
}

#prep .features .lrg-img-offset img.nodesk {
  display: none;
}

#prep #tracking .picset .two img {
  box-sizing: border-box;
  padding: 0 30px;
}

#prep #features .lrg-img-offset img.nodesk {
  display: none;
}

#prep section.features .lrg-img-offset img.nomobile {
  display: initial;
}


/***** LOHE *****/
#lohe .hero {
  background: url(../assets/images/pages/lohe/hero_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#lohe .hero .hero-left {
  max-width: 400px;
}

#lohe .hero .hero-right {
  padding-right: 1%;
}

#lohe .hero .hero-right img {
  height: auto;
  max-width: 60vw;
}

#lohe .solution {
  background: url(../assets/images/pages/lohe/solution.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#lohe #wireframes .picset {
  text-align: center;
}

#lohe #wireframes .picset img {
  display: inline-block;
  width: 22%;
  padding: 0 10px 10px;
}

#lohe #wireframes .picset:last-of-type {
  display: block;
  margin-top: 0;
}

#lohe #wireframes .picset:last-of-type img {
  display: inline-block;
  width: 100%;
  height:auto;
  padding: 0 10px 10px;
}

#lohe #designscreens .lrg-img {
  max-width: 100%;
}

#lohe #designscreens .lrg-img img {
  max-width: 100%;
  max-height: 100vh;
  overflow-y: hidden;
}



/***** LITTLELEAGUE *****/
#littleleague .hero {
  background: url(../assets/images/pages/littleleague/code.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

#littleleague .hero .hero-left .logos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#littleleague .hero .hero-left img {
  width: auto;
  max-width: 200px;
  max-height: 65px;
}

#littleleague .hero .hero-left img:first-of-type {
  padding-right: 30px;
  border-right: 1px solid #fff;
  margin-right: 30px;
}

#littleleague .hero-right img {
  height: auto;
  max-height: 85vh;
  max-width: 60vw;
}

#littleleague #role {
  display: block;
  width: 100%;
}

#littleleague #role h6:first-of-type{
  border-bottom: 0;
  padding-bottom: 0;
}

#littleleague #role h6:last-of-type{
  border-top: 0;
}

#littleleague .solution {
  background: url(../assets/images/pages/littleleague/solution.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  color: #fff;
}

#littleleague .solution .contentblock {
  background-color: rgba(0,0,0,.8);
}

#littleleague #journeys .contentblock:last-of-type {
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

#littleleague #journeys .contentblock:last-of-type img {
  height: 80px;
  width: auto;
  padding-bottom: 30px;
  padding-top: 10px;
}

#littleleague #architecture img.lrg-img {
  max-height: 95vh;
  width: auto;
}

#littleleague #branding img.lrg-img {
  max-width: 1000px;
}


/***** Homepage *****/
#hp-hero .container {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#homepage .howzit {
  text-align: center;
  box-sizing: border-box;
  display: block;
  margin: 150px auto 140px;
  max-width: 575px;
}

#homepage .howzit h1 {
  color: #008297;
  padding-bottom: 10px;
}

#homepage .howzit h5 {
  color: #fff;
  font-weight: 200;
}

#homepage .tile {
  width: 100%;
  text-align: center;
  display: block;
  justify-content: center;
}

#homepage .scrolldown a {
  color: #008297;
  font-weight: 300;
}

#project-links .tile {
margin: 0 auto;
}

.project-box{
  width: 50%;
  float: left;
  position: relative;
  overflow: hidden;
  perspective:1000px;
  -webkit-perspective:1000px;
  color: #fff;
}

.project-box a {
  color: #fff;
}

.project-icon{
  width: 100%;
  height: 375px;
  text-align: center;
  transition: all .5s ease;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project-icon img {
  height: 50px;
}

#lohe .project-icon img, #littleleague .project-icon img {
  height: 80px;
}

.project-content{
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 375px;
  text-align: center;
  transition: all .5s ease;
  background-color: #474747;
  backface-visibility:hidden;
  transform-style: preserve-3d;
  -webkit-transform: translateY(110px) rotateX(-90deg);
  -moz-transform: translateY(110px) rotateX(-90deg);
  -ms-transform: translateY(110px) rotateX(-90deg);
  -o-transform: translateY(110px) rotateX(-90deg);
  transform: translateY(110px) rotateX(-90deg);
}

.project-content .overlay {
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
}

.project-content .cell {
  z-index: 100;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 30px 0;
}

.project-content .skills img {
  height: 36px;
  padding: 0 6px;
}

.project-box .project-icon .front-content h4, .project-box .project-content h4 {
  text-align: center;
  text-transform: uppercase;
  max-width: 93%;
  margin: 0 auto;
}

.project-box .project-content h4 {
  width: fit-content;
  margin: 0 auto;
}

.project-box .project-content p {
  margin:0 auto;
  width: 50%;
  font-weight: 300;
  padding: 10px 10px 20px;
}

.project-box .project-content a:hover {
  color: #fff;
}

#aetlas .project-icon {
  background: url(../assets/images/homepage/aetlas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#prep .project-icon {
  background: url(../assets/images/homepage/prep.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#lohe .project-icon {
  background: url(../assets/images/homepage/lohe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#littleleague .project-icon {
  background: url(../assets/images/homepage/littleleague.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


#aetlas .project-content .overlay {
  background: #00C19C;
}

#lohe .project-content .overlay {
  background: #3A518F;
}

#littleleague .project-content .overlay {
  background: #CE0505;
}

#prep .project-content .overlay {
  background: #E87722;
}

.project-box:hover .project-icon{
  opacity: 0;
  -webkit-transform: translateY(-110px) rotateX(90deg);
  -moz-transform: translateY(-110px) rotateX(90deg);
  -ms-transform: translateY(-110px) rotateX(90deg);
  -o-transform: translateY(-110px) rotateX(90deg);
  transform: translateY(-110px) rotateX(90deg);
}
.project-box:hover .project-content {
  opacity: 1;
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
}

#project-links .hide {
  opacity: 0;
}

#project-links .hide:hover {
  opacity: 1;
  transition: 200ms ease-in;
}

#homepage #project-links {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 100px;
}

.project-key {
  opacity: .5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto 100px;
  padding: 15px 0;
  text-align: center;
}

.project-key .keyterm {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.project-key img {
  width: 20px;
}

.project-key h6.mini {
  color: #fff;
  font-weight: 300;
  padding-left: 10px;
}

/***** ABOUT *****/
#about .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 30px auto 100px;
}

#about .hero-left {
  width: 41.6666%;
}

#about .hero-right {
  width: 58.3333%;
  color: #fff;
  margin-right: 70px;
}

#about .hero-left img {
  width: 400px;
}

#about .hero p:nth-child(n+2) {
  padding-top: inherit;
}

#about .hero h3 {
  color: #008297;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#about .hero h6:last-of-type {
  margin-top: 15px;
}

#about .summary {
  margin-bottom: 70px;
}

#about .hero a.button {
  margin-right: 30px;
}

#about #bio {
  padding-bottom: 100px;
}

#about .avatar {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  height: 260px;
  padding-top: 100px;
}

#about .avatar img {
  display: inline-block;
  text-align: center;
  width: 260px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 5px 5px 15px rgba(0,0,0,.16);
}

#about .avatar h5 {
  display: inline-block;
  text-align: left;
  font-weight: 400;
  max-width: 330px;
  padding: 20px 20px 20px 100px;
  border-radius: 10px;
  position: relative;
  bottom: 95px;
  left: -80px;
  background-color: #008297;
  color: #fff;
  box-shadow: 5px 5px 15px rgba(0,0,0,.16);
  z-index: 1;
}


#about section.features {
  background: url(../assets/images/pages/about/feature_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#about section.skillz {
  background: url(../assets/images/pages/about/skillz_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 50px 0;
}

#about div.skillz  {
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  color: #fff;
}

#about .skillz hr {
  width: 50px;
  text-align: center;
  height: 1px;
  background-color: #fff;
}

#about .skillz a {
  display: block;
  color: #fff;
  font-size: 17px;
  line-height: 26px;
  font-weight: 300;
}

#about .skillz a:hover {
  color: #00d3ff;
}

#about .skillz p, #about .skillz a {
  padding: 3px 15px;
}






/****************** RESPONSIVE *******************/

@media screen and (max-width: 1200px) {

  body, html {
    overflow-x:inherit;
  }

  .project-box .project-icon .front-content h4, .project-box .project-content h4 {
    font-size:1.25rem ;
    max-width: 85%;
    width: fit-content;
  }

  .project-box .project-content p {
    font-size: 1rem;
  }

  .project-box .project-content img {
    height: 28px;
    padding: 0 3px;
  }

  .contentblock {
    max-width: 860px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .contentblock .role {
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .contentblock .right p {
    padding-right: 30px;
  }

  #homepage .howzit {
    padding: 40px 60px;
    width: 60%;
  }

  .tasks .screens img {
      width: 142px;
  }

  /***** LOHE *****/
  #lohe .hero .hero-back {
    height: 65vh;
  }

  #prep #tracking .picset .two img {
    box-sizing: border-box;
    padding: 0 30px;
  }

  #littleleague .hero .hero-left img {
    max-width: 150px;
    max-height: 50px;
  }

  #littleleague .hero .hero-right img {
    height: auto;
    max-width: 50vw;
  }


}

@media screen and (max-width: 960px) {
  /* GLOBAL */

  .study .hero {
    height: 100vh;
  }

  .study .hero .hero-back {
    position: relative;
    height: 50vh;
  }

  .study .hero .hero-left {
    max-width: 40%;
  }

  .contentblock {
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 50px;
  }

  .contentblock .left, .contentblock .right {
    width: 100%;
    box-sizing: border-box;
  }

  .contentblock .left {
    padding-bottom: 20px;
  }

  section.greyback {
    padding-bottom: 50px;
  }

  .contentblock .swot-logos {
    flex-direction: column;
  }

  .contentblock .swot-logos img {
    padding-bottom: 50px;
  }

  .contentblock .swot-logos img:last-child, div.features .feature:last-of-type {
    padding-bottom: 0;
  }

  .solution .contentblock {
    padding: 50px 40px;
  }

  .pip {
    margin-top: 50px;
    padding: 50px 0;
  }

  .picset {
    margin-top: 50px;
  }

  img.lrg-img {
    margin-top: 50px;
  }

  div.features .feature {
    padding-bottom: 50px;
  }

  div.features .feature, div.skillz .skill {
    width: 100%;
    max-width: 300px;
    padding: 0 15px;
  }


  /* HOMEPAgE */
  #hp-hero {
      background-image: url(../assets/images/hp_background_mob.jpg);
  }

  #homepage .howzit {
    padding: 40px 60px;
    width: 70%;
  }

  #homepage #project-links {
    position: inherit;
  }

  #project-links .tile {
    display: block;
  }

  .project-box{
    width: 90%;
    float: none;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
  }

  .project-content .cell {
    position: relative;
  }

  .project-box a {
    color: #fff;
  }

  .project-icon{
    width: 100%;
    height: 260px;
    text-align: center;
    transition: all .5s ease;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .project-box .project-icon .front-content h4, .project-box .project-content h4 {
    font-size:1.65rem ;
    max-width: 100%;
    width: fit-content;
  }

  .project-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 260px;
  }

  .project-content .cell {
    position: relative;
  }

  .project-box .project-content p {
    font-size: 1.125rem;
    padding-left: 20px;
    padding-right: 20px;
    width: 55%;
  }

  .project-box .project-content img {
    height: 36px;
    padding: 0 6px;
  }

  .project-key {
    display: block;
    padding-top: 10px;
  }

  .project-key .keyterm {
    display: block;
    width: 90%;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
  }

  .project-key .keyterm h6.mini {
    padding-left: 0;
  }

  /* ABOUT */
  #about .hero {
   display: block;
   margin-top: 0;
  }

  #about .hero-left {
    width: 100%;
    height: 400px;
    display: block;
  }

  #about .hero-left img {
    width: 100%;
    overflow: hidden;
  }

  #about .hero-right {
    background: #000;
    width: 100%;
    box-sizing: border-box;
    padding: 70px 20px 0;
    position: relative;
  }

  #about .hero-right .links {
    display: flex;
    justify-content: space-around;
  }

  #about .hero-right .links a {
    margin: 30px 0 0 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  #about section.features, #about section.skillz {
    padding: 100px 30px;
  }

  #about div.features, #about div.skillz {
    flex-direction: column;
    padding: 0;
  }

  #about div.features .feature, #about div.skillz .skill {
    padding: 0 0 70px;
    width: 100%;
  }

  #about div.features .feature:last-of-type, #about div.skillz .skill:last-of-type {
    padding:0;
  }

  #about .contentblock .left {
    text-align: center;
    padding-bottom: 20px;
  }

  #about .contentblock .left img {
    width: 80px;
  }

  #about #bio {
    padding-bottom: 0;
  }

  #about .avatar {
    height: auto;
  }

  #about .avatar h5 {
    width: 100%;
    box-sizing: border-box;
    left: 0;
    bottom: 130px;
    margin-bottom: -130px; /* bottom offset */
    border-radius: 0;
    padding: 160px 30px 30px;
    display: block;
    text-align: center;
    max-width: inherit;
    box-shadow: none;
  }



  /***** AETLAS *****/
  #aetlas .features .branding {
    max-width: 95%;
    text-align: center;
    margin: 0 auto;
  }

  #aetlas .tasks {
    display: block;
    flex-wrap: nowrap;
  }

  #aetlas .tasks .screens {
    width: 100%;
  }

  #aetlas .tasks .screens img {
    width: 30%;
    margin: 0;
  }


  /***** PREP *****/

  #prep .hero .hero-right img {
    max-width: 50vw;
  }

  #prep #problem {
    margin-top: 0;
  }

  #prep #process .lrg-img {
    margin-top: 50px;
  }

  #prep #process .lrg-img img {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }

  #prep #process .lrg-img img:first-of-type {
    max-width: 580px;
    padding-bottom: 50px;
  }

  #prep #process .lrg-img img:last-of-type {
    max-width: 380px;
  }

  #prep section.features .lrg-img-offset {
    box-sizing: border-box;
    padding: 50px;
    top: 0;
  }

  #prep section.features .lrg-img-offset img.nomobile {
    display: none;
  }

  #prep .features .lrg-img-offset img.nodesk {
    display: initial;
    width: 100%;
    max-width: 620px;
    height: auto;
    padding-bottom: 10px;
  }

  #prep .features .lrg-img-offset img.nodesk:last-of-type {
    padding-bottom: 0;
  }

  #prep #tracking .picset {
    margin-top: 50px;
  }

  #prep #tracking .picset .two img {
    box-sizing: border-box;
    padding: 0 30px;
  }

}

@media screen and (max-width: 768px) {
  .nomobile {
    display: none;
  }

  #hp-hero {
      background-image: url(../assets/images/hp_background_mob.jpg);
  }

  #homepage .howzit {
    padding: 0 20px;
    width: 100%;
  }

  .project-box .project-content p {
    font-size: 1.125rem;
    width: auto;
  }

  .study .hero .hero-back {
    position: relative;
    height: auto;
    background: transparent;
  }

  .study .hero .hero-front {
    flex-direction: column-reverse;
    width: 100%;
  }

  .study .hero .hero-right {
    padding-right: 0;
    margin-bottom: 18px;
    padding: 0;
    height: 58vh;
    display: flex;
    align-items: center
  }

  .study .hero .hero-left {
    padding: 30px 20px;
    box-sizing: border-box;
    text-align: center;
    width: 100vw;
    max-width: 100%;
    background-color: rgba(0,0,0,.8);
  }

  .study .hero .hero-left img {
    width: 200px;
  }

  .study .hero .hero-right img {
    height: 50vh;
    width: auto;
  }

  .study .hero h5 {
    padding-top: 15px;
    max-width: 500px;
    margin: 0 auto;
  }

  .study .hero a.button {
    margin: 20px 0;
  }

  .contentblock .role {
    padding: 30px 0;
  }

  .contentblock .right p {
    padding-right: 20px;
  }

  .picset {
    flex-direction: column;
  }

  .picset .three img {
    width: 100%;
  }

  .picset .two img {
    width: 100%;
  }

  div.features {
    flex-direction: column;
  }

  div.features .feature {
    margin: 0 auto;
    padding-bottom: 50px;
  }

  #aetlas #personas img.nomobile {
    display: none;
  }

  #aetlas #personas img.nodesk {
    display: initial;
  }

  #aetlas .features img {
    height: 110px;
  }

  #lohe .hero .hero-back {
    height: auto;
  }

  #lohe .hero .hero-left {
    max-width: 100%;
  }

  #lohe .hero .hero-right img {
    max-height: 50vh;
    max-width: 90%;
    margin: 60px auto 2vh;
    text-align: center;
  }

  #lohe #wireframes .picset img {
    width: 90%;
    padding: 0 0 5%;
  }

  #prep .hero .hero-right img {
    max-width: 65vw;
  }

  #prep #tracking .picset .two img {
    box-sizing: border-box;
    padding: 0 30px;
  }

  #prep #tracking .picset .two img:first-child {
    padding-bottom: 30px;
  }

  #littleleague .hero .hero-left .logos {
    justify-content: center;
  }

  #littleleague .hero .hero-left img {
    max-width: 150px;
    max-height: 60px;
  }

  #littleleague .hero .hero-right img {
    padding-top: 30px;
    max-width: 70vw;
    height: auto;
    margin: 60px auto 2vh;
    text-align: center;
  }

  #littleleague #journeys .contentblock:last-of-type {
    padding-bottom: 30px;
  }

  #littleleague #journeys .contentblock:last-of-type img {
    height:35px;
  }

  #littleleague #branding img.lrg-img {
    box-sizing: border-box;
    padding: 0 30px;
  }

}

@media screen and (max-width: 560px) {

  #homepage .howzit {
      margin-top: 100px;
      margin-bottom: 80px;
  }

  #prep .hero .hero-right img {
    max-width: 90vw;
  }

  #littleleague .hero .hero-right img {
    max-width: 95vw;
  }

}
