/********** GLOBAL **********/
.contentblock {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contentblock .left {
  width: 25%;
  box-sizing: border-box;
  padding-right: 30px;
}

.contentblock .right {
  width: 75%;
  box-sizing: border-box;
}

.contentblock .left img {
  padding-top: 20px;
  width: 130px;
}








/********** PAGES **********/

/***** Homepage *****/
#hp-hero .container {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#homepage .howzit {
  text-align: center;
  box-sizing: border-box;
  display: block;
  margin: 150px auto 140px;
  max-width: 575px;
}

#homepage .howzit h1 {
  color: #008297;
  padding-bottom: 10px;
}

#homepage .howzit h5 {
  color: #fff;
  font-weight: 200;
}

#homepage .tile {
  width: 100%;
  text-align: center;
  display: block;
  justify-content: center;
}

#homepage .scrolldown a {
  color: #008297;
  font-weight: 300;
}

#project-links .tile {
margin: 0 auto;
}

.project-box{
  width: 50%;
  float: left;
  position: relative;
  overflow: hidden;
  perspective:1000px;
  -webkit-perspective:1000px;
  color: #fff;
}

.project-box a {
  color: #fff;
}

.project-icon{
  width: 100%;
  height: 375px;
  text-align: center;
  transition: all .5s ease;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project-icon img {
  height: 50px;
}

#lohe .project-icon img, #littleleague .project-icon img {
  height: 80px;
}

.project-content{
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 375px;
  text-align: center;
  transition: all .5s ease;
  background-color: #474747;
  backface-visibility:hidden;
  transform-style: preserve-3d;
  -webkit-transform: translateY(110px) rotateX(-90deg);
  -moz-transform: translateY(110px) rotateX(-90deg);
  -ms-transform: translateY(110px) rotateX(-90deg);
  -o-transform: translateY(110px) rotateX(-90deg);
  transform: translateY(110px) rotateX(-90deg);
}

.project-content .overlay {
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
}

.project-content .cell {
  z-index: 100;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 30px 0;
}

.project-content .skills img {
  height: 36px;
  padding: 0 6px;
}

.project-box .project-icon .front-content h4, .project-box .project-content h4 {
  text-align: center;
  text-transform: uppercase;
  max-width: 93%;
  margin: 0 auto;
}

.project-box .project-content h4 {
  width: fit-content;
  margin: 0 auto;
}

.project-box .project-content p {
  margin:0 auto;
  width: 50%;
  font-weight: 300;
  padding: 10px 10px 20px;
}

#aetlas .project-icon {
  background: url(../assets/images/homepage/aetlas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#prep .project-icon {
  background: url(../assets/images/homepage/prep.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#lohe .project-icon {
  background: url(../assets/images/homepage/lohe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#littleleague .project-icon {
  background: url(../assets/images/homepage/littleleague.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


#aetlas .project-content .overlay {
  background: #00C19C;
}

#lohe .project-content .overlay {
  background: #3A518F;
}

#littleleague .project-content .overlay {
  background: #CE0505;
}

#prep .project-content .overlay {
  background: #E87722;
}

.project-box:hover .project-icon{
  opacity: 0;
  -webkit-transform: translateY(-110px) rotateX(90deg);
  -moz-transform: translateY(-110px) rotateX(90deg);
  -ms-transform: translateY(-110px) rotateX(90deg);
  -o-transform: translateY(-110px) rotateX(90deg);
  transform: translateY(-110px) rotateX(90deg);
}
.project-box:hover .project-content {
  opacity: 1;
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
}

#project-links .hide {
  opacity: 0;
}

#project-links .hide:hover {
  opacity: 1;
  transition: 200ms ease-in;
}

#homepage #project-links {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 100px;
}

.project-key {
  opacity: .5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto 100px;
  padding: 15px 0;
  text-align: center;
}

.project-key .keyterm {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.project-key img {
  width: 20px;
}

.project-key h6.mini {
  color: #fff;
  font-weight: 300;
  padding-left: 10px;
}

/***** ABOUT *****/
#about .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 30px auto 100px;
}

#about .hero-left {
  width: 41.6666%;
}

#about .hero-right {
  width: 58.3333%;
  color: #fff;
  margin-right: 70px;
}

#about .hero-left img {
  width: 400px;
}

#about .hero h3 {
  color: #008297;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#about .hero h6:last-of-type {
  margin-top: 15px;
}

#about .summary {
  margin-bottom: 70px;
}

#about .hero a.button {
  margin-right: 30px;
}

#about section.features {
  background: url(../assets/images/pages/about/feature_background.jpg);
  color: #fff;
  box-sizing: border-box;
  padding: 50px 0;
}

#about div.features {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

#about div.features .feature, #about div.skillz .skill {
  width: 300px;
  padding: 0 50px;
  text-align: center;
}

#about .features h6 {
  padding: 10px 0 5px;
}

#about .features img {
  height: 70px;
}

#about #bio {
  background-color: #fff;
  padding-bottom: 100px;
}

#about .avatar {
  width: 100%;
  margin: 100px auto 0;
  text-align: center;
}

#about .avatar img {
  display: inline-block;
  text-align: center;
  width: 260px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 5px 5px 15px rgba(0,0,0,.16);
}

#about .avatar p {
  display: inline-block;
  text-align: left;
  max-width: 300px;
  padding: 20px 20px 20px 100px;
  border-radius: 10px;
  position: relative;
  bottom: 100px;
  left: -80px;
  background-color: #008297;
  color: #fff;
  box-shadow: 5px 5px 15px rgba(0,0,0,.16);
  z-index: 1;
}

#about section.skillz {
  background: url(../assets/images/pages/about/skillz_background.jpg);
  box-sizing: border-box;
  padding: 50px 0;
}

#about div.skillz  {
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  color: #fff;
}

#about .skillz hr {
  width: 50px;
  text-align: center;
  height: 1px;
  background-color: #fff;
}

#about .skillz a {
  display: block;
  color: #fff;
  font-size: 17px;
  line-height: 26px;
  font-weight: 300;
}

#about .skillz p, #about .skillz a {
  padding: 3px 15px;
}

@media screen and (max-width: 1200px) {

  .project-box .project-icon .front-content h4, .project-box .project-content h4 {
    font-size:1.25rem ;
    max-width: 85%;
    width: fit-content;
  }

  .project-box .project-content p {
    font-size: 1rem;
  }

  .project-box .project-content img {
    height: 28px;
    padding: 0 3px;
  }

  #homepage .howzit {
    padding: 40px 60px;
    width: 60%;
  }

}

@media screen and (max-width: 960px) {

  #hp-hero {
      background-image: url(../assets/images/hp_background_mob.jpg);
  }

  #homepage .howzit {
    padding: 40px 60px;
    width: 70%;
  }

  #homepage #project-links {
    position: inherit;
  }

  #project-links .tile {
    display: block;
  }

  .project-box{
    width: 90%;
    float: none;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
  }

  .project-box a {
    color: #fff;
  }

  .project-icon{
    width: 100%;
    height: 260px;
    text-align: center;
    transition: all .5s ease;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .project-box .project-icon .front-content h4, .project-box .project-content h4 {
    font-size:1.65rem ;
    max-width: 100%;
    width: fit-content;
  }

  .project-box .project-content p {
    font-size: 1.125rem;
    max-width: 50%;
  }

  .project-box .project-content img {
    height: 36px;
    padding: 0 6px;
  }

}

@media screen and (max-width: 768px) {

  #hp-hero {
      background-image: url(../assets/images/hp_background_mob.jpg);
  }

  #homepage .howzit {
    padding: 40px 20px;
    width: 90%;
  }

  .project-box .project-content p {
    font-size: 1.125rem;
    max-width: 80%;
  }

}
