/***** GLOBAL STYLES *****/

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Kanit', 'Arial', sans-serif;
  background-color: #fff;
}

body, html {
  height: 100%;
}

::selection, ::-moz-selection {
  background: #999999;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.175rem;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1rem;
  line-height: 1.25rem;
}

h6 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.875rem;
}



/***** MODIFICATION CLASSES *****/

.center {
  text-align: center !important;
  margin: 0 auto;
}

.nomobile {
  display: none;
}

.nodesk {
  display: inherit;
}

.txt300 {
    font-weight: 300 !important;
}

.txt400 {
    font-weight: 400 !important;
}

.txt600 {
    font-weight: 600 !important;
}


/***** NAVIGATION *****/
nav {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px 15px 10px 10px;
  align-items: center;
  z-index: 50;
}

nav .left img {
  height: 48px;
}

nav .right a {
  color: #fff;
  text-decoration: none;
  padding: 3px 5px;
  margin-left: 10px;
  font-size: 1.125rem;
}

/*  */
@media screen and (min-width: 768px) {
  nav {
    padding: 10px 20px 10px 10px;
  }


  nav .right a {
    padding: 3px 5px;
    margin-right: 10px;

  }

}
