/***** GLOBAL STYLES *****/

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Libre Franklin', 'Arial', sans-serif;
  background-color: #000;
}

body, html {
  height: 100%;
  color: #3d3d3d;
}

::selection, ::-moz-selection {
  background: #999999;
}

h1 {
  font-size: 65px;
  line-height: 75px;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 29px;
  font-weight: 700;
}

h4 {
  font-size: 26px;
  font-weight: 600;
}

h5 {
  font-size: 22px;
  line-height: 30px;
}

h6 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

p {
  font-size: 17px;
  line-height: 26px;
  font-weight: 300;
}

.contentblock p:nth-child(n+2) {
  padding-top: 20px;
}

h6.mini {
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}

a:hover {
  color: #00d3ff;
  transition: .25s ease;
}

/***** MODIFICATION CLASSES *****/

.center {
  text-align: center !important;
  margin: 0 auto;
}

.txt300 {
    font-weight: 300 !important;
}

.txt400 {
    font-weight: 400 !important;
}

.txt600 {
    font-weight: 600 !important;
}

.mtop100 {
  margin-top: 100px;
}

.mtop70 {
  margin-top: 70px !important;
}

.mtop50 {
  margin-top: 50px !important;
}

.mtop30 {
  margin-top: 30px !important;
}

.mbot100 {
  margin-bottom: 100px;
}

.mbot70 {
  margin-bottom: 70px !important;
}

.mbot50 {
  margin-bottom: 50px !important;
}

.mbot30 {
  margin-bottom: 30px !important;
}

.toupper {
  text-transform: uppercase;
}

.highlight {
  font-weight: 600;
}

/***** NAVIGATION *****/
.navigation {
  width: 100%;
  background-color: rgba(0,0,0,.8);
  box-shadow: 1px 3px 7px rgba(0,0,0,.25);
  position: fixed;
  top: 0;
  z-index: 100;
}

.navclear {
  width: 100%;
  height: 60px;
}

nav {
  max-width: 1400px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100000;
  margin: 0 auto;
  height: 60px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
}

nav .left {
  max-width: 40%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav .left a {
  width: auto;
}

nav .left img {
  height: 35px;
  padding-right: 10px;
}

nav .left h6 {
  padding-left: 10px;
  font-weight: 300;
}

nav .right a {
  padding: 3px 5px;
  margin-left: 10px;
}

nav a:hover {
  color: #00D3FF;
  transition: .25s ease;
}


/***** FOOTER *****/

footer {
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding:30px;
  background-color: #000000;
  text-align: center;
}

footer .container {
  max-width: 1400px;
  margin: 0 auto;
}

footer img {
  height: 60px;
  text-align: center;
  padding-bottom: 30px;
}

footer h6.mini {
  color: #868686;
}

footer h6.mini:first-of-type {
  padding-bottom: 10px;
  color:#fff;
}


/****** ELEMENTS ******/

a.button {
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 30px 0;
  display: inline-block;
  font-size: 19px;
  color: #fff;
  font-weight: 300;
}

a.button:hover {
  border: 1px solid #00d3ff;
  color: #00d3ff;
  font-weight: 300;
  transition: .25s ease;
}

/***** SCROLLDOWN *****/
.scrolldown {
  margin: 0 auto;
  text-align: center;
}

.scrolldown a {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 200;
}

.scrolldown img {
  width: 30px;
  display: block;
  margin: 20px auto 0;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation: 1.25s 5;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInDown {
  animation-name: fadeInDown;
}


@media screen and (max-width: 1200px) {

  footer {
    display: flex;
  }
}

@media screen and (max-width: 960px) {
  footer {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    display: block;
    text-align: center;
    position: relative;
    bottom: 0;
  }

  footer .left {
    padding-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }

  footer a {
    padding: 5px;
  }

}


@media screen and (max-width: 768px) {

  h1 {
    font-size: 45px;
    line-height: 55px;
  }

  h5 {
    font-size: 18px;
    line-height: 26px;
  }

  .mtop100 {
    margin-top: 50px;
  }

  .navigation {
    width: auto;
  }

  nav {
    box-sizing: border-box;
    max-width: 100%;
    width: 100vw;
  }

  nav .left {
    max-width: 40%;
  }

  nav .right a {
    padding: 3px 5px;
    margin-right:0;
  }

  footer a {
    display: block;
  }

  .grid12 .gridcell {
    margin-top: 100px;
    display: block;
    justify-content: space-between;
    padding: 0 30px;
  }

  .grid12 .left {
    width: 100%;
    text-align: left;
    padding-bottom: 30px;
  }

  #about .grid12 .left {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
  }

  #about .grid12 .left img {
    padding-bottom: 30px;
    margin: 0 auto;
  }

  .grid12 .right {
    width: 100%;
  }

}
